<header class="header">
  <span class="header__icon" (click)="goToHome()">ICON</span>
  <div *ngIf="!isLogin">
    <span class="header__signup header__buttons" (click)="openSignIn()">Вход</span>
    <span class="header__signin header__buttons" (click)="openSignUp()">Регистрация</span>
  </div>
  <div *ngIf="isLogin" class="header__menu" >
    <span class="header__menu-text">МЕНЮ</span>
    <div class="header__dropdown">
        <ul class="header__list">
          <li class="header__list" (click)="openMastersRoom()">
            МАСТЕРСКАЯ
          </li>
          <li class="header__list">ПРОФИЛЬ</li>
          <li class="header__list">ПОМОЩЬ</li>
          <li class="header__list" (click)="close()">Выход</li>
        </ul>
    </div>
  </div>
</header>
<!--<section class="container">-->
<!--  <div *ngIf="!isMailOVerification">-->
<!--    <span  class="container__text">Вы не подтвердили свою почту, подвтердите пожалуйста!</span>-->
<!--    <span  class="container__button" (click)="approveEmail()"> КЛИКНУТЬ Для ПОДТВЕРЖДЕНИЯ</span>-->
<!--  </div>-->
<!--  <span *ngIf="isMailOVerification" class="container__text" >Проверьте свою почту и подтвердите её</span>-->

<!--</section>-->
