@import "src/assets/shared";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #181b28;
  padding: 15px 100px;
  height: 35px;
  &__buttons{
    @include font;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 19px;
    border-radius: 8px;
    background: #3f51b5;
    cursor: pointer;
    transition: 200ms;
    padding: 10px;
  }
  &__signin:hover {
       background: #3949a5;
  }
  &__signup {
    margin-right: 10px;
  }

  &__icon {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    cursor: pointer;
  }
}
