<header class="header">
  <span class="header__icon">ICON</span>
  <div>
    <span class="header__signup header__buttons" (click)="openModal('signIp')">Вход</span>
    <span class="header__signin header__buttons" (click)="openModal('signup')">Регистрация</span>
  </div>
</header>

<!--<master-modal id="signup" [title]="strings.registration">-->
<!--  <master-sign-up ></master-sign-up>-->
<!--</master-modal>-->

<!--<master-modal  id="signIp"-->
<!--               [title]="strings.signin">-->
<!--  <master-sign-in></master-sign-in>-->
<!--</master-modal>-->

