@import "src/assets/shared";

.modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  border-radius: 15px;
  min-width: 300px;
  z-index: 10;
  background: white;
  left: 50%;
  transform: translate(-50%, 25%);
  max-width: 100px;
  padding-bottom: 40px;
  &__close {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 35px;
    width: 93px;
    color: black;
    @include font;
    font-size: 16px;
    line-height: 19px;
    border-radius: 8px;
    background: white;
    cursor: pointer;
    transition: 200ms;
    margin: 20px auto;
  }

  &__close-login-active:hover {
    background: #cdcdcd;
  }

  &__backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .3);
  }

  &__backdrop-close {
    background: rgba(0, 0, 0, .0);
  }

  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 5px;
    width: 100%;
    text-align: right;
    padding-bottom: 30px;
  }

  &__registration {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 19px;
    margin: 0 auto;
  }
  &__body {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    padding: 0 40px;
  }

  &__icon {
    cursor: pointer;
    margin: 10px 10px 0 0;
    color: black;
    align-content: flex-start;
  }

  &__icon:hover {
    color: #3b3b3b;
  }
}
