<div [ngClass]="{ 'modal__backdrop': !isModalClose }" [@backDropDisplay] = 'state'></div>
<div class="modal" [@modalDisplay] = "state">
  <div class="modal__header" >
    <span class="modal__registration">Регистрация</span>
    <span class="modal__icon" (click)="closeModal()">
      <fa-icon [icon]="faTimes"></fa-icon>
    </span>
  </div>
  <div class="modal__body">
    <master-first-step-auth *ngIf="!userDataStepOne" (nextStepData)="nextStepData($event)"></master-first-step-auth>
    <master-second-step-auth *ngIf="userDataStepOne"></master-second-step-auth>
<!--    <button class='modal__close' mat-stroked-button (click)="closeModal()">Закрыть</button>-->
  </div>

</div>

