@import "src/assets/shared";


.modal-bg-overlay {
  display: block;
  position: fixed;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(49, 42, 42, 0.30);
  z-index: 10000;
  pointer-events: auto;
  animation: fadeIn 0.15s both;
}

.modal__element {
    display: flex;
    flex-direction: column;

    border-radius: 15px;

    background: white;

    width: 250px;
    padding: 15px 15px 15px 15px
  }
.modal__container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10001;
}

  //
  //&__close-login-active:hover {
  //  background: #cdcdcd;
  //}
  //
  //&__backdrop {
  //  position: fixed;
  //  top: 0;
  //  bottom: 0;
  //  left: 0;
  //  right: 0;
  //  background: rgba(0, 0, 0, .3);
  //}
  //
  //&__backdrop-close {
  //  background: rgba(0, 0, 0, .0);
  //}
  //

  //

  //&__body {
  //  display: flex;
  //  flex-direction: column;
  //  min-width: 100px;
  //  padding: 0 40px;
  //}
  //

  //


