<div class="container">
  <section class="master">
    <span> Привет, {{userInfo?.username}}</span>
    <div class="master__choose">
      <div class="master__toggle">
        <span class="master__yes" (click)="edit()">Готов!</span>
      </div>
    </div>

    <div class="master__main">
      <aside class="master__aside">
        <div>
          <div class="master__img-container">
            <img src="">
            <span class="master__icon">
            <fa-icon
              [size]="'4x'"
              [icon]="faFileUpload"
            ></fa-icon></span>
          </div>
        </div>
        <div>
          <span>Статистика:</span>
        </div>
      </aside>

      <form [formGroup]="form" class="master__form">
        <div class="master__container">
          <span> О себе:</span>
          <textarea *ngIf="isEdited" class="master__aboutMe" formControlName="aboutMe" placeholder="О себе..."> </textarea>
          <span class="master__aboutMe"  *ngIf="!isEdited"> </span>
        </div>

        <div class="master__container">
          <span> Ваши услуги:</span>
          <div class="master__services" >
            <span class="master__services-add isEdited" (click)="addService()"> Добавить услугу <fa-icon
              [icon]="faPlus"
            ></fa-icon></span>
          </div>
          <div class="master__block" *ngIf="!isEdited"></div>
        </div>

        <div class="master__container">
          <span> Ваше расписание для работы:</span>
          <div class="master__schedule" >
            <span class="master__services-add isEdited" (click)="addService()"> Добавить расписание <fa-icon
              [icon]="faPlus"
            ></fa-icon></span>
          </div>
          <div class="master__block" *ngIf="!isEdited"></div>
        </div>

        <div class="master__container portfolio">
          <span> Портфолио:</span>
          <input type="file" (change)="kek($event)">
          <carousel [images]="images"
          [cellsToShow]=1
          [loop]="true"
          [overflowCellsLimit]=1
          [dots]="true"
          [transitionTimingFunction]="'ease-in-out'"
          [width]="520"
         >
          </carousel>
        </div>
        <div *ngIf="isEdited">
          <button>Сохранить</button>
          <button (click)="isEdited = !isEdited">Отменить</button>
        </div>

      </form>
    </div>
    <div class="master__reviews">
    <span>
      Отзывы:
    </span>
    </div>
  </section>
  <master-loading class="master__loading" *ngIf="isLoading"></master-loading>
</div>


